/* css para todas as páginas */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/*rodapé*/
footer {
    background-color: #b9c5cd;
    color: white;
    padding: 20px;
    text-align: center;
}

/*headers exceto página inicial*/
/* cabeçalho*/
header {
    font-family: 'Contrail One', sans-serif;
    background-color: #FFFFFF;
    /*background-color: whitesmoke;*/
    color: white;
    padding: 20px;
    text-align: center;
}


