/* CSS COMUM PARA TODAS ÀS PÁGINAS */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 10px solid #A60000;
    margin-top: 20px
}

a {
    text-decoration: none;
    color: #A60000;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-style: bold;
    font-size: 25x;
    margin-bottom: 10px;
}




/*HEADERS - todas as pags exceto página inicial*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Contrail One', sans-serif;
    background-color: black;
    letter-spacing: 0.05rem;
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    border-bottom: 10px solid #A60000;
    margin-bottom: 20px
}

#logo {
    max-width: 130px;
    height: auto;
    margin-bottom: 10px;
}

.inscreva-se {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A60000;
    /* Change the button color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.inscreva-se:hover {
    background-color: #670000;
}


/*barra principal de navegação*/
.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Isso permite que os botões quebrem para a próxima linha se não couberem*/
}

.barra a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.barra a:hover {
    color: #A60000;
    text-decoration: none;
}

/*barra de navegação secundária - login, logout, area de cliente, registo*/
.cliente {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
}

.cliente a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px;
}

#logout>img,
#areacliente>img,
#login_btn>img,
#torne_semembro>img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
}

#torne_semembro {
    background-color: #A60000;
}

#torne_semembro:hover {
    background-color: #b51212;
    border: 2px solid #ffffff;
    text-decoration: none;
}

#torne_semembro:hover img {
    transform: scale(1.5);
    transition: transform 0.5s;
}

#areacliente,
#login_btn {
    background-color: #470000;
}

#areacliente:hover,
#login_btn:hover {
    background-color: #7B2828;
    text-decoration: none;
}

#logout {
    background-color: #7B2828;
}

#logout:hover {
    background-color: #470000;
    text-decoration: none;
}

#ola {
    font-size: 20px;
}




/*PÁGINA INICIAL*/
/*HEADER*/

#header_paginicial {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#main_header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 800px; 
    gap: 40px; 

}

#logo_paginicial {
    max-width: 200px;
    height: auto;
    margin-right: 10px; 
    
}


#header_paginicial #torne_semembro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 5px 0px;
}


/*Imagens na página inicial*/
.imagensiniciais {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.imagens {
    text-align: center;
    width: 24%;
}

.imagens img {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.imagens p {
    margin-top: 5px;
}


.textoimagensiniciais {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.caracteristicas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* retângulos das características dos ginásios*/
.retangulo {
   /*width: calc(33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    background-color: whitesmoke;
    font-weight: bold;  */
    display: flex;
    justify-content: space-between;
 /*justify-content: flex-end;*/
  align-items: center;
  position: relative;
  width: calc(33.333% - 20px); /* Subtract 20px to account for the spacing */
  height: 150px;
  border: 1px solid #ccc;
  padding: 0 20px; /* Add padding to the left and right */
  box-sizing: border-box; 
  margin: 10px ;

}

.retangulo img {
     /* max-width: 25%;
    height: auto;
    float: left; */ 
    max-width: 26%;
    height: auto;
    margin: 20px;
}

.retangulo p {
    margin: 0; /* Remove a margem padrão do parágrafo para evitar espaço extra */
    font-weight: bold;
    font-size: 15px; 
    text-align: center;
}

.caracteristicastexto {
    text-align: center;
    font-weight: bold;
    font-size: 25px; 
    margin: 5px;

}


.batimento{
    display: flex;
    align-items: center;
    justify-content: center;
}

.batimento img {
    width: 10%;
    height: auto;
}


.horarios_clubes {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    /*border: 5px solid #7B2828; */
    margin-left: 6%;
    margin-right: 6%;
}

.horarios_clubes ul {
    list-style-type: none;
    padding: 0;
}



/*PÁGINA DOS CLUBES*/

.clubes a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #A60000;
    background-color: white;
    border-radius: 5px;
    border: 5px solid #000000;
}

.clubes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    /* permite que os botões quebrem para a próxima linha se não couberem */
}

.clube-logo {
    max-width: 100px;
    margin-bottom: 10px;
    /* espaço entre a imagem e o texto */
    height: auto;
}

.clubes a:hover {
    background-color: #c2b6b6;
}

/* .club-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
} */

.club-info {
    display: flex;
    flex-direction: column; /* Alterado para coluna para que os itens estejam empilhados verticalmente */
    align-items: center; /* Centraliza os itens no eixo transversal (vertical) */
    text-align: center; /* Centraliza o texto dentro de cada parágrafo */
    padding: 20px; /* Adiciona algum espaçamento interno */
}


.club-info a {
    text-decoration: none;
    color: black;
}

.club-info li {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    /* Faz cada item ocupar a mesma largura */
    flex-basis: calc(50% - 20px);
    /* Calcula a largura com margens para 2 itens por linha */
}

#inscreva-se {
    align-items: center;
}

/* RELATIVO ÀS PÁGINAS de CADA CLUBE INDIVIDUALMENTE */

.mapa {
    display: block;
    margin: 0 auto;
}

.titulos_clubes {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #1d1b1b; 
    padding: 15px;
    text-align: center;
    vertical-align: top;
    border-radius: 5px;
    background-color: #e9e2e29a;
}

/* RELATIVO À PÁGINAS DOS PLANOS  */
.planos {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    text-decoration: none;
    font-weight: bold;

}

.retangulo_planos {
    /*width: calc(33% - 20px);*/
    width: 80%;
    margin: 20px ;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.planos_duvidas {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.botao_planos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A60000;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.botao_planos:hover {
    background-color: #670000;
}

#preco {
    font-family: Contrail One;
    letter-spacing: 0.05rem;
    font-size: 30px;
    font-weight: bold;
    color: #A60000;
}

/*PARA AULAS DE GRUPO */
.container {
    max-width: 200px;
    margin: 0px auto;
    text-align: center;
} 

.classes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.class {
    display: flex;
    flex: 0 0 calc(33.33% - 20px); /* 50% da largura da linha, descontando a margem */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-bottom: 30px; /* Adiciona uma margem na parte inferior de cada retângulo */
}

.class:hover {
    background-color: #a600006f;
}

.image-container {
    flex: 0 0 30%; /* Ajuste a largura da imagem conforme necessário */
    margin-right: 20px; /* Adicione uma margem à direita para separar a imagem das informações */

}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius:3px;
    margin:10px;
}

.info-container {
    flex: 1;
}

.mensagem {
    margin-top: 20px;
    text-align: center;
}


/* PÁGINA AJUDA */

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 45px;
}

#intro {
    text-align: center;
    font-size: 20px;
    margin-block-start: 5px;
    margin-block-end: 20px;
}


#Categoria {
    background-color: white;
    border-radius: 5px;
}

#Categoria>summary {
    text-align: center;
    font-weight: bold;
}

#Pergunta>summary {
    background-color: rgba(107, 97, 97, 0.35);
    border-radius: 5px;
}

#Pergunta>p {
    text-indent: 20px;
}

#Categoria {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#Categoria>details {
    margin: 10px;
    padding: 10px;
}

summary {
    display: block;
    /* isto tá a fazer com q a seta dos details original desapareça mas acho q n é suposto*/
    position: relative;
    cursor: pointer;
    padding-left: 30px !important;
    /* só funciona com !important ??? */
    font-size: 18px;
    padding: 10px;
}

details>p {
    font-size: 16px;
    line-height: 1.4;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent black;
    /* seta para baixo = quadrado com 3 bordas transparentes */
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
}

#Categoria>summary:before {
    display: none;
}

#Contactos>p {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
}

#FAQ {
    margin-top: 20px;
}

/*PÁGINA REGISTO*/

#registo {
    text-align: center;
    margin: 5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="submit"] {
    font-size: 20px;
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Placeholder styles for the input */
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

/*ISTO NÃO ESTÁ A FUNCIONAR, QUALQUER COISA TIRAMOS*/
/* When input is focused */
input[type="tel"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="number"]:focus::placeholder input[type="tel"]:focus-visible::placeholder,
input[type="email"]:focus-visible::placeholder,
input[type="text"]:focus-visible::placeholder,
input[type="password"]:focus-visible::placeholder,
input[type="number"]:focus-visible::placeholder,
input[type="tel"]:valid::placeholder,
input[type="email"]:valid::placeholder,
input[type="text"]:valid::placeholder,
input[type="password"]:valid::placeholder,
input[type="number"]:valid::placeholder {
    top: 25%;
    font-size: 12px;
    color: #A60000;
}


input[type="submit"] {
    background-color: #A60000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #a600006f;
}

input[type="date"],
input[type="number"] {
    color: #999;
    font-size: 20px;
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 14rem;
    box-sizing: border-box;
    margin-top: 5px;
}

label {
    font-size: 16px;
    color: #999;
}

select {
    font-size: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25rem;
    box-sizing: border-box;
    margin-top: 5px;
    color: #999;
}


select option[disabled]:first-child {
    color: #999;
}

/*boxes de informação*/
#escolha_plano {
    background-color: rgba(107, 97, 97, 0.20);
    border-radius: 10px;
    padding: 0.8rem;
    margin-bottom: 2rem;
}

.termos_condicoes{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* PÁGINA LOGIN */

#logo_login {
    max-width: 100%;
    width: 100%;
    height: 10rem;
    display: block;
    margin: 0;
}

#login {
    text-align: center;
    margin: 2.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    font-size: 20px;
    position: relative;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 20rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Placeholder styles for the input */
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

 /* When input is focused */
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="email"]:focus-visible::placeholder,
input[type="password"]:focus-visible::placeholder,
input[type="email"]:valid::placeholder,
input[type="password"]:valid::placeholder {
    top: 25%;
    font-size: 12px;
    color: #A60000;
} 


input[type="submit"] {
    background-color:#A60000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    max-width: 160px;
}

input[type="submit"]:hover {
    background-color: #a600006f;
} 

#registo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
}

#registe_se>a {
    padding: 1rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    background-color: #A60000;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
}

#registe_se>a:hover {
    background-color:  #a600006f;
}

#msg_erro {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem 0;
}
