/* CSS COMUM PARA TODAS ÀS PÁGINAS */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 10px solid #A60000;
    margin-top: 20px
}

a {
    text-decoration: none;
    color: #A60000;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

#msg_erro {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem 0;
}


/*HEADERS - todas as pags exceto página inicial*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Contrail One', sans-serif;
    background-color: black;
    letter-spacing: 0.05rem;
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    border-bottom: 10px solid #A60000;
    margin-bottom: 20px
}

#logo {
    max-width: 130px;
    height: auto;
    margin-bottom: 10px;
}

/*barra principal de navegação*/
.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Isso permite que os botões quebrem para a próxima linha se não couberem*/
}

.barra a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.barra a:hover {
    color: #A60000;
    text-decoration: none;
}

/*barra de navegação secundária - login, logout, area de cliente, registo*/
.cliente {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
}

.cliente a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px;
}

#logout>img,
#areacliente>img,
#login_btn>img,
#torne_semembro>img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
}

#torne_semembro {
    background-color: #A60000;
}

#torne_semembro:hover {
    background-color: #b51212;
    border: 2px solid #ffffff;
    text-decoration: none;
}

#torne_semembro:hover img {
    transform: scale(1.5);
    transition: transform 0.5s;
}

#areacliente,
#login_btn {
    background-color: #470000;
}

#areacliente:hover,
#login_btn:hover {
    background-color: #7B2828;
    text-decoration: none;
}

#logout {
    background-color: #7B2828;
}

#logout:hover {
    background-color: #470000;
    text-decoration: none;
}

#ola {
    font-size: 20px;
}




/*PÁGINA INICIAL*/
/*HEADER*/

#header_paginicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    gap: 40px;

}

#logo_paginicial {
    max-width: 200px;
    height: auto;
    margin-right: 10px;

}


#header_paginicial #torne_semembro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 5px 0px;
}


/*Imagens na página inicial*/
.imagensiniciais {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.imagens {
    text-align: center;
    width: 24%;
}

.imagens img {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.imagens p {
    margin-top: 5px;
}


.textoimagensiniciais {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.caracteristicas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* retângulos das características dos ginásios*/
.retangulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(33.333% - 20px);
    height: 150px;
    border: 1px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 10px;
}

.retangulo img {
    max-width: 26%;
    height: auto;
    margin: 20px;
}

.retangulo p {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.caracteristicastexto {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}


.batimento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.batimento img {
    width: 10%;
    height: auto;
}


.horarios_clubes {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    margin-left: 6%;
    margin-right: 6%;
}

.horarios_clubes ul {
    list-style-type: none;
    padding: 0;
}



/*PÁGINA DOS CLUBES*/

.clubes a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #A60000;
    background-color: white;
    border-radius: 5px;
    border: 5px solid #000000;
}

.clubes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    /* permite que os botões quebrem para a próxima linha se não couberem */
}

.clube-logo {
    max-width: 100px;
    margin-bottom: 10px;
    /* espaço entre a imagem e o texto */
    height: auto;
}

.clubes a:hover {
    background-color: #c2b6b6;
}

.club-info {
    display: flex;
    flex-direction: column; /* Alterado para coluna para que os itens estejam empilhados verticalmente */
    align-items: center; /* Centraliza os itens no eixo transversal (vertical) */
    text-align: center; /* Centraliza o texto dentro de cada parágrafo */
    padding: 20px; /* Adiciona algum espaçamento interno */
}

.club-info a {
    text-decoration: none;
    color: black;
}

.club-info li {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Faz cada item ocupar a mesma largura */
    flex-basis: calc(50% - 20px); /* Calcula a largura com margens para 2 itens por linha */
}

#inscreva-se {
    align-items: center;
}

/* RELATIVO ÀS PÁGINAS de CADA CLUBE INDIVIDUALMENTE */

.mapa {
    display: block;
    margin: 0 auto;
}

.titulos_clubes {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #1d1b1b;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    border-radius: 5px;
    background-color: #e9e2e29a;
}

/* RELATIVO À PÁGINAS DOS PLANOS  */
.planos {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.retangulo_planos {
    /*width: calc(33% - 20px);*/
    width: 80%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.planos_duvidas {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#preco {
    font-family: Contrail One;
    letter-spacing: 0.05rem;
    font-size: 30px;
    font-weight: bold;
    color: #A60000;
}

/*PARA AULAS DE GRUPO */
.container {
    max-width: 200px;
    margin: 0px auto;
    text-align: center;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.class {
    display: flex;
    flex: 0 0 calc(33.33% - 20px); /* 50% da largura da linha, descontando a margem */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-bottom: 30px; /* Adiciona uma margem na parte inferior de cada retângulo */
}

.class:hover {
    background-color: #a600006f;
}

.image-container {
    flex: 0 0 30%; 
    margin-right: 20px; /* Adicione uma margem à direita para separar a imagem das informações */

}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    margin: 10px;
}

.info-container {
    flex: 1;
    text-align: center;
}

.mensagem {
    margin-top: 20px;
    text-align: center;
}

/* PÁGINA AJUDA */
#FAQ {
    margin-top: 20px;
}

#intro {
    text-align: center;
    font-size: 20px;
    margin-block-start: 5px;
    margin-block-end: 20px;
}

.Categoria {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.Categoria>summary {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.Pergunta>summary {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
}

.Pergunta>summary:hover {
    background-color: #a60000;
}

.Pergunta>p {
    text-indent: 20px;
}

.Categoria {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    overflow: hidden;
}

.Categoria>details {
    margin: 10px;
    padding: 10px;
}

summary {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px !important;
    font-size: 18px;
    padding: 10px;
}

details>p {
    font-size: 16px;
    line-height: 1.4;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #FFFFFF; /* seta para baixo = quadrado com 3 bordas transparentes */
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
}

.Categoria>summary:before {
    display: none;
}

#Contactos>p {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
}

/*FORMS DE REGISTO + LOGIN*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#area_registo input[type="submit"], #area_login input[type="submit"] {
    padding: 13px;
    background-color: #A60000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    width: 20rem;
    border-radius: 5px;
    border: transparent;
}

#area_registo input[type="submit"] {
    width: 30rem;
}

#area_registo input[type="submit"]:hover {
    background-color: #d30000;
}

input::placeholder {
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

input:focus::placeholder,
input:focus-visible::placeholder,
input:active::placeholder {
    top: 25%;
    font-size: 12px;
    color: #A60000;
}

/* PÁGINA LOGIN */
#area_login {
    text-align: center;
    margin: 2.5rem 0;
}

#nao_membro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    margin-top: 30px;
}

#registe_se>a {
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
}

#registe_se>a:hover {
    background-color: #5a0000;
}

input[type="email"],
input[type="password"] {
    font-size: 18px;
    padding: 18px;
    border: transparent;
    border-radius: 5px;
    width: 20rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/*PÁGINA REGISTO*/

#area_registo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#area_registo>form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

#info_pessoal,
#foto_perfil,
#imc_calculation,
#info_login,
#info_pagamento,
#escolha_plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #a600000b;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 90%;
}

#info_pessoal>p,
#foto_perfil>p,
#imc_calculation>p,
#info_login>p,
#info_pagamento>p,
#escolha_plano>p {
    font-weight: bold;
}

/*boxes dos inputs*/
#nome,
#nr_telemovel,
#morada,
#nif,
#altura,
#peso,
#email,
#password,
#nr_cartao {
    font-size: 15px;
    padding: 15px;
    border: transparent;
    border-radius: 5px;
    width: 20rem;
    box-sizing: border-box;
    margin-top: 5px;
}

#tipo_plano {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    border: transparent;
    border-radius: 5px;
    width: 20rem;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #000000ee;
    color: white;
}

#data_nascimento {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    width: 9.2rem;
    padding: 15px;
    border: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

/*radio buttons da seleção do sexo*/
#sexo {
    margin-top: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    cursor: pointer;

}

input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked+label:before {
    background-color: #a60000;
    border: 2px solid #000000;
}

/*foto de perfil*/
label[for="profile_pic"] {
    font-weight: bold;
}

input::file-selector-button {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    color: #333;
    padding: 0.5em;
    border: transparent;
    border-radius: 3px;
    cursor: pointer;
}

input::file-selector-button:hover {
    background-color: #e9e2e29a;
}


/* termos e condições checkbox*/
#termos[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid #000000;
    border-radius: 3px;
    outline: none;
    transition-duration: 0.3s;
}

#termos[type="checkbox"]:checked {
    background-color: #a60000;
}

#termos_condicoes {
    display: flex;
    align-items: center;
}

/*PAG TERMOS E CONDICOES*/
#termos_condicoes_pag {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* ÁREA DE CLIENTE*/
#Area_Cliente {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#dados_pessoais,
#dados_plano,
#insc_aulas_grupo,
#reg_treinos {
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

#dados_plano,
#insc_aulas_grupo,
#reg_treinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#info_dados_pessoais {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}

#dados_pessoais img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid #000000;
}

/*bold antes dos : */
#Area_Cliente p::before {
    content: attr(data-label);
    font-weight: bold;
}

#esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 40%;
}

#direita {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    width: 40%;
}

#dados_fisicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    background-color: #a600000b;
    color: #333;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    margin-bottom: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #a60000;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #750000;
}

/*PÁGINAS DE REGISTO DE TREINOS + AULAS DE GRUPO*/
#treino_ag p::before {
    content: attr(data-label);
    font-weight: bold;
}

#resgisto_t_ag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ano {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: transparent;
}

#select_ano input[type="submit"] {
    padding: 10px 20px;
    background-color: #A60000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-radius: 5px;
    border: transparent;
}

#select_ano input[type="submit"]:hover {
    background-color: #d30000;
}

#meses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#meses a {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#meses a:hover {
    background-color: #a60000;
    color: #fff;
}

#treino_ag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    padding: 10px;
}

#treino_ag summary:before {
    border-color: transparent transparent transparent #333;   
}

/*ALTERAÇÃO DE DADOS*/
#alteracao_dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

/**/
#cancelamento, #cancelado, #alteracao_plano{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

#cancelado{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px
}

#alteracao_plano #tipo_plano {
    background-color: #a60000cb;
}

#alteracao_plano input[type="submit"] {
    background-color: #a60000;
    border: transparent;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-radius: 5px;

}

#alteracao_plano input[type="submit"]:hover {
    background-color: #000000;
}