body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
/* cabeçalho*/
header {
    background-color: #b9c5cd;
    color: white;
    padding: 20px;
    text-align: center;
}

/*rodapé*/
footer {
    background-color: #b9c5cd;
    color: white;
    padding: 20px;
    text-align: center;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 200px; 
}


/* PÁGINA DOS CLUBES*/

.clubes a, #signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

     /*Para centrar, colocando todos na mesma página, os botões dos diferentes ginásios*/
.clubes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Isso permite que os botões quebrem para a próxima linha se não couberem */
}

.club-logo {
    max-width: 100px; 
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
    height: auto;
}

.clubes a:hover, #signup a:hover {
    background-color: #c4938e;
}

.club-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
   
}
.club-info a {
    text-decoration: none; /* Remove o sublinhado */
    color: black;
}
.club-info li {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Faz cada item ocupar a mesma largura */
    flex-basis: calc(50% - 20px); /* Calcula a largura com margens para 2 itens por linha */
}

#hamburger, .hamburger {   /*tirar a check box */
    display: none;
} 


/* RELATIVO às páginas de CADA CLUBE INDIVIDUALMENTE */
.club-logo{
    display: block; 
    margin: 0 auto; /* Define as margens superior e inferior como 0 e centraliza horizontalmente */
}

.mapa {
    display: block; 
    margin: 0 auto; /* Define as margens superior e inferior como 0 e centraliza horizontalmente */
}

.club-info2{
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none; /*queria meter os pontos junto dos serviços, mas não consigo*/
    margin-bottom: 100px;
}

.comochegar{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.caracteristicas {
    display: flex;
    flex-wrap: wrap;
}

.retangulo {
    width: calc(33% - 20px);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    background-color:  whitesmoke; /*cor de fundo de cada retângulo com as características*/
    font-weight: bold;
}

.retangulo img {
    max-width: 25%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}

.caracteristicastexto{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.inscreva-se{
    text-align: center; 
}

/*PÁGINA INICIAL*/
      /* Para a barra na pag inicial */
.barra a, #signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Isso permite que os botões quebrem para a próxima linha se não couberem */
}


      /*Imagens na página inicial*/
.imagensiniciais {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.imagens {
    text-align: center;
    width: 24%; /* Ajuste conforme necessário */
}

.imagens img {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.imagens p {
    margin-top: 5px;
}

.escolherGymFlex {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.textoimagensiniciais{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

      /* PARA O FORMS DO ENTRE EM CONTACTO*/
#contato {
    background-color: #f2f2f2; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    max-width: 600px; /* Largura máxima */
    margin: 0 auto; /* Centralização horizontal */
}

#contato h2 {
    text-align: center; /* Centralizar texto */
}

#contato form {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centralizar formulário dentro da seção */
}

#contato label {
    margin-bottom: 5px; /* Espaçamento inferior entre rótulo e campo de entrada */
}

#contato input,
#contato textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; /* Espaçamento inferior entre campos */
    border: 1px solid #ccc; /* Borda simples */
    border-radius: 5px; /* Borda arredondada */
}

#contato button {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de ponteiro ao passar */
}

#contato button:hover {
    background-color: #555; /* Cor de fundo do botão ao passar */
}

        /*Página inicial -> AVALIAÇÃO*/
.feedback{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.feedback-mensagem {
    font-size: 18px;
    margin-bottom: 10px;
}

.botões button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.feedback2 {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.feedback-mensagem {
    font-size: 18px;
    margin-bottom: 10px;
}

.feedback-form {
    text-align: center;
}

.feedback-form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.feedback-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* RELATIVO À PÁGINA PLANOS*/
.planos {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center
    
}

.retangulo_planos {
    /*width: calc(33% - 20px);*/
    width:80%;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.planos_duvidas{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.botao_planos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#c69791;
    color: black;
    text-decoration: none;
    padding: 10px 20px; 
    text-decoration: none; 
    border: none; 
    font-weight: bold;
}

/* Horários aulas de grupo*/
#horarios {
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

/* Adicione o estilo para mostrar as vagas ao passar o mouse */
td:hover::after {
    content: "Lotação Máxima: " attr(data-vagas); /*VER NA BASE DE DADOS */
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.mensagem {
    margin-top: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #555;
}