body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
/* cabeçalho*/
header {
    background-color: #c6deee;
    color: white;
    padding: 20px;
    text-align: center;
}

/*rodapé*/
footer {
    background-color: #b9c5cd;
    color: white;
    padding: 20px;
    text-align: center;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 200px; 
}


/* PÁGINA DOS CLUBES*/

.clubes a, #signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

     /*Para centrar, colocando todos na mesma página, os botões dos diferentes ginásios*/
.clubes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Isso permite que os botões quebrem para a próxima linha se não couberem */
}

.club-logo {
    max-width: 100px; 
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
    height: auto;
}

.clubes a:hover, #signup a:hover {
    background-color: #c4938e;
}

.club-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
   
}
.club-info a {
    text-decoration: none; /* Remove o sublinhado */
    color: black;
}
.club-info li {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Faz cada item ocupar a mesma largura */
    flex-basis: calc(50% - 20px); /* Calcula a largura com margens para 2 itens por linha */
}

#hamburger, .hamburger {   /*tirar a check box */
    display: none;
} 


/* RELATIVO às páginas de CADA CLUBE INDIVIDUALMENTE */
.club-logo{
    display: block; 
    margin: 0 auto; /* Define as margens superior e inferior como 0 e centraliza horizontalmente */
}

.mapa {
    display: block; 
    margin: 0 auto; /* Define as margens superior e inferior como 0 e centraliza horizontalmente */
}

.club-info2{
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none; /*queria meter os pontos junto dos serviços, mas não consigo*/
    margin-bottom: 100px;
}

.titulos_clubes{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.caracteristicas {
    display: flex;
    flex-wrap: wrap;
}

.retangulo {
    width: calc(33% - 20px);
    margin: 10px;
    /*padding: 0px;*/
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    background-color:  whitesmoke; /*cor de fundo de cada retângulo com as características*/
    font-weight: bold;
}

.retangulo img {
    max-width: 25%;
    height: auto;
    float: left;
    /*margin-bottom: 0px;*/
}

.caracteristicastexto{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.inscreva-se{
    text-align: center; 
}

/*PÁGINA INICIAL*/
      /* Para a barra na pag inicial */
.barra a, #signup a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Isso permite que os botões quebrem para a próxima linha se não couberem */
}


      /*Imagens na página inicial*/
.imagensiniciais {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.imagens {
    text-align: center;
    width: 24%; /* Ajuste conforme necessário */
}

.imagens img {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.imagens p {
    margin-top: 5px;
}

.escolherGymFlex {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.textoimagensiniciais{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

      /* PARA O FORMS DO ENTRE EM CONTACTO*/
#contato {
    background-color: #f2f2f2; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    max-width: 600px; /* Largura máxima */
    margin: 0 auto; /* Centralização horizontal */
}

#contato h2 {
    text-align: center; /* Centralizar texto */
}

#contato form {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centralizar formulário dentro da seção */
}

#contato label {
    margin-bottom: 5px; /* Espaçamento inferior entre rótulo e campo de entrada */
}

#contato input,
#contato textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; /* Espaçamento inferior entre campos */
    border: 1px solid #ccc; /* Borda simples */
    border-radius: 5px; /* Borda arredondada */
}

#contato button {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de ponteiro ao passar */
}

#contato button:hover {
    background-color: #555; /* Cor de fundo do botão ao passar */
}

        /*Página inicial -> AVALIAÇÃO*/
.feedback{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.feedback-mensagem {
    font-size: 18px;
    margin-bottom: 10px;
}

.botões button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.feedback2 {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.feedback-mensagem {
    font-size: 18px;
    margin-bottom: 10px;
}

.feedback-form {
    text-align: center;
}

.feedback-form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.feedback-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* RELATIVO À PÁGINA PLANOS*/
.planos {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center
    
}

.retangulo_planos {
    /*width: calc(33% - 20px);*/
    width:80%;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.planos_duvidas{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.botao_planos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#c69791;
    color: black;
    text-decoration: none;
    padding: 10px 20px; 
    text-decoration: none; 
    border: none; 
    font-weight: bold;
}

/* Horários aulas de grupo*/
#horarios {
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

/* Adicione o estilo para mostrar as vagas ao passar o mouse */
td:hover::after {
    content: "Lotação Máxima: " attr(data-vagas); /*VER NA BASE DE DADOS */
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.mensagem {
    margin-top: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #555;
}

/* PARA O LOGIN */

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat Bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

/* cabeçalho*/
/*JÁ TEMOS UM HEADER LÁ EM CIMA */ /*ISTO É SÓ PARA ME ORGANIZAR*/
/*header {
    background-color:rgba(221, 192, 192, 1);
}*/

#logo_login {
    max-width: 100%;
    width: 100%;
    height: 10rem;
    display: block;
    margin: 0;
}

/* Para a barra na pag inicial */
.barra_login a,
#signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barra_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Isso permite que os botões quebrem para a próxima linha se não couberem */
}


footer {
    background-color: rgba(189, 165, 165, 1);
    padding: 20px;
    text-align: center;
}



     /* CSS for the login form */

#login {
    text-align: center;
    margin: 2.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    font-size: 20px;
    position: relative;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 20rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Placeholder styles for the input */
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

/* When input is focused */
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="email"]:focus-visible::placeholder,
input[type="password"]:focus-visible::placeholder,
input[type="email"]:valid::placeholder,
input[type="password"]:valid::placeholder {
    top: 25%;
    font-size: 12px;
    color: #c69791;
}


input[type="submit"] {
    background-color: #c69791;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #b37e77;
}

#registo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
}

#registe_se > a  {
    padding: 1rem;;
    transition: background-color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(189, 165, 165, 1);
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
}

#registe_se > a:hover {
    background-color: rgb(155, 134, 134);
}

#msg_erro {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem 0;
}


/* PARA O REGISTO */

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat Bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

/* cabeçalho*/
/*JÁ TEMOS UM FOOTER EM CIMA*/ /*RETIRAR DEPOIS*/
/*header {
    background-color: rgba(221, 192, 192, 1);
}*/

#logo_registo {
    max-width: 100%;
    width: 100%;
    height: 10rem;
    display: block;
    margin: 0;
}


.barra_registo a,
#signup a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
} 

.barra_registo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Isso permite que os botões quebrem para a próxima linha se não couberem*/
} 

/*JÁ TEMOS UM FOOTER EM CIMA*/ /*RETIRAR DEPOIS*/
/*footer {
    background-color: rgba(189, 165, 165, 1);
    padding: 20px;
    text-align: center;
}*/

    /*Registo*/

#registo {
    text-align: center;
    margin: 5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="submit"] {
    font-size: 20px;
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Placeholder styles for the input */
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder{
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

/* When input is focused */
input[type="tel"]:focus::placeholder,input[type="email"]:focus::placeholder,input[type="text"]:focus::placeholder,input[type="password"]:focus::placeholder,input[type="number"]:focus::placeholder
input[type="tel"]:focus-visible::placeholder,input[type="email"]:focus-visible::placeholder,input[type="text"]:focus-visible::placeholder,input[type="password"]:focus-visible::placeholder,input[type="number"]:focus-visible::placeholder,
input[type="tel"]:valid::placeholder,input[type="email"]:valid::placeholder,input[type="text"]:valid::placeholder,input[type="password"]:valid::placeholder,input[type="number"]:valid::placeholder
{
    top: 25%;
    font-size: 12px;
    color: #c69791;
}


input[type="submit"] {
    background-color: #c69791;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #b37e77;
}

input[type="date"], input[type="number"] {
    color: #999;
    font-size: 20px;
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 14rem;
    box-sizing: border-box;
    margin-top: 5px;
}

label {
    font-size: 16px;
    color: #999;
}

select {
    font-size: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25rem;
    box-sizing: border-box;
    margin-top: 5px;
    color: #999;
  }
  
  /* Placeholder styles for the select */
  select option[disabled]:first-child {
    color: #999;
  }
  
/*boxes de informação*/
#escolha_plano {
    background-color: rgba(107, 97, 97, 0.20);
    border-radius: 10px;
    padding: 0.8rem;
    margin-bottom: 2rem;
}



/*PARA AULAS DE GRUPO */
@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.ttf");
}
    
@font-face {
    font-family: Montserrat Bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

/* cabeçalho*/
/*header {
    font-family: Montserrat Bold, sans-serif;
    background-color: #b9c5cd;
    color: white;
    padding: 70px;
    text-align: center;
}*/

/* Para a barra na pag inicial */
/*.barra a, #signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}*/

/*.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}*/

/*rodapé*/

/*footer {
    background-color: #b9c5cd;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}*/


/*#logo {
    position: absolute;
    top: 10px;
    left: 100px;
    max-width: 200px; 
}*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

/* ... (parte do código existente) ... */

.classes {
    display: flex;
    flex-wrap: wrap;
}

.class {
    margin: 10px;
    width: calc(50% - 20px); /* 50% menos a margem nas laterais */
    display: flex;
    align-items: center;
}

.image-container {
    width: 50%;
    text-align: right;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.info-container {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #b9c5cd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
