@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.ttf");
}
    
@font-face {
    font-family: Montserrat Bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

/* cabeçalho*/
header {
    font-family: Montserrat Bold, sans-serif;
    background-color: #b9c5cd;
    color: white;
    padding: 70px;
    text-align: center;
}

/* Para a barra na pag inicial */
.barra a, #signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*rodapé*/

footer {
    background-color: #b9c5cd;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}


#logo {
    position: absolute;
    top: 10px;
    left: 100px;
    max-width: 200px; 
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#horarios {
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

/* Adicione o estilo para mostrar as vagas ao passar o mouse */
td:hover::after {
    content: "Vagas Disponíveis: " attr(data-vagas);
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

