@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat Bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

/* cabeçalho*/
header {
    background-color:rgba(221, 192, 192, 1);
}

#logo {
    max-width: 100%;
    width: 100%;
    height: 10rem;
    display: block;
    margin: 0;
}

/* Para a barra na pag inicial */
.barra a,
#signup a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #c69791;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Isso permite que os botões quebrem para a próxima linha se não couberem */
}

/*rodapé*/
footer {
    background-color: rgba(221, 192, 192, 1);
    padding: 20px;
    text-align: center;
}



/* CSS for the login form */

#login {
    text-align: center;
    margin: 5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    font-size: 20px;
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 20rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Placeholder styles for the input */
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

/* When input is focused */
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="email"]:focus-visible::placeholder,
input[type="password"]:focus-visible::placeholder,
input[type="email"]:valid::placeholder,
input[type="password"]:valid::placeholder {
    top: 25%;
    font-size: 12px;
    color: #c69791;
}


input[type="submit"] {
    background-color: #c69791;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #b37e77;
}