body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    color: #9c7c7c;
    padding: 20px;
    text-align: center;
}

#logo {
    max-width: 100%;
    height: auto;
    height: 25vh;
}

.clubes {
    text-align: center;
    margin: 20px 0;
}

.clubes a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
}

#signup {
    text-align: center;
    margin: 20px 0;
}

#signup a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
}

ul.club-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.club-info li {
    width: 300px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

#hamburger, .hamburger {   /*tirar a check box */
    display: none;
} 

.club-logo {
    max-width: 100%;
    height: auto;
}

ul.club-info a {
    text-decoration: none;
    color: #333;
}

ul.club-info span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
}
